sudo: required
language: node_js
node_js:
  - 12
install:
  - npm install
  - npm i -g kourou
  - sudo apt install -y openssl
script:
  - npm test
  - openssl version
  - bash test/kuzzle-vault-encrypt-string.test.sh
notifications:
  email: false
  slack:
    secure: lcjjpIGmtjOac4SkeMg6rMcUu+3wee+xgEsBC6a1sYCWGKTxs6x22ezCHwBKbjZ9r14wm+2zOfYuBxWtvxkfduB8WVHH/U+2l5Fto37BxFvWSBqBJy+6BzMz+3gH9JvpHHOjuiqotDX8IQwsQhCgO2MIu+clU3F/T2KT9QtZAFzGnD00vjAkPH+9usxTKfFAmKNwETbTCP3cf3s0KOeX8q3YVW7yYV2Rx3lKT6LDtwzRoO1Fuhp6XNgTkKSWnrbkGsr0terSinkwHj/77cgyrnAVKKUo21Oorz9w6lBTOhvj32H0cShta0zk97+E3bhdhCg9hZtF7oqA+u2thLEWRX2luWlN45X6+kpcrEJYg4Zlhd+ABJyk9a68GwP9H9Kqa8+BxTk4tJzf9w/jgKhFcyM2HMBpD97aGqtQMUKXV5lwQPgutL7eGg8irGKwaidWKT9yWRthAQc0xRiv9/zc6Hwtb9RuRi6KZeyKrLFmDT2PP4Y5NhkDV6XFMaxllx0MSaYC4skl59gbrMl3FZWv8xgJUNHHyxfxheg9Apyf1MXGZOqsIlmqky87pO6csqVL1N5MsKrR12EEzBhW+71VnEPph5vNtTU6gm7sIHCkMPUdCbPNZtBnoK+1SF/T8PehgTPIkakFxmqMNy/ApEFHlUT3/5KvAKs37k481QROGV8=
    on_success: never
    on_failure: always
    on_start: never
deploy:
  provider: npm
  email: support@kuzzle.io
  api_key:
    secure: dvLiACtKQvXSAU4sPGSl607bqiBVV4dWKKv8a+OZG1HljsArMn9nFa3zFl/h/dLwhjxIXrsuaeDVUg0MCHcDrD/q249kXc+HDNdvKcWHQ87IDhT30q7ZVCheDWNLicAV4CeY9FWfrgvvcy+VrOLtx6hHEsEZpms5Hab2I4l55nwxhmZ52FAU74D+aandOafyaJ45f0IDmYKGaN/oQy89vCwPBL0ITfZEt2z9udzuy5QwqolE17MHilpw95ozhL05Ne3+4BIjR6wikLY8IZxsT4yM+LJhZK9ctXdpognbzbbk4fzSIh72qMsb4CMUP3b4bpe8zEb8bI0ygmiCJLFM/IVpCFE9W4JsyOQ6g3pZ6TBORn9OlMvo7ja73hqKPHtPEP1BceYjjSmIXyPvAZrShWppz+GH93wJCgSWk7sM5Csd45yxElmvHmOW2N9Ialhl+DHazkMTNAi84n20VAEGaE1vxk6O7IEim42FIdNcKK4SxqfxPWgJCaeW7ACtPpiYWyVnQ3463yp+sSO5ZctGVZsDDiNbw7SwVwARgv5iTUzt3tBiEF3T6Cq5tL5El4LAGhQmpBuvYMAMwJT+dUCrmApsl4WPN6nnZSU4wlTAxx9mYdumMetP6cOGcyrwQRqDv6SveNke84lkS2Gd3j6e0tNLsmaNh6cUI/PiT6OqGl4=
  on:
    repo: kuzzleio/kuzzle-vault
    branch: master